main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mansalva', cursive;
}

h1{
  font-size: 3rem;
}

.score{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}